@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@500&family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: $red;
  font-family: "Montserrat", sans-serif;
}

header {
  width: 30%;
  height: 100%;
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h1,
  h4,
  p {
    color: $red;
    padding-left: 60px;
    width: 70%;
    text-align: justify;
  }
  h1 {
    font-size: 65px;
  }

  h4 {
    font-size: 15px;
  }
  nav {
    padding-left: 20px;
    width: 80%;
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      li {
        cursor: pointer;
        margin-right: 12px;
        font-size: 15px;
        color: black;
        opacity: 0.5;
        padding-bottom: 5px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

main {
  width: 75%;
  height: 400%;
  background-color: $red;
  margin-left: 30%;
  margin-top: 170px;

  .random-bar {
    z-index: 10;
    background-color: $red;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    opacity: 0.8;
    color: $white;
    padding: 70px;
    position: fixed;
    width: 72%;
    top: 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;

    span:nth-child(even) {
      color: rgba(0, 0, 0, 0.7);
      border-bottom: 1px solid rgba(0, 0, 0, 0.7);
      margin-left: 5px;
      margin-top: 5px;
    }

    span:nth-child(2) {
      margin-right: 5px;
    }

    span:nth-child(even):hover {
      color: $white;
      border-color: $white;
    }
  }

  .movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 100px 100px 120px;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1) 5%,
        transparent,
        transparent,
        transparent,
        transparent
      )
      $red;
    .movie__title {
      width: 90%;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1 {
        font-size: 50px;
        font-weight: bold;
      }
      h3 {
        font-size: 20px;
      }
    }
    img {
      box-shadow: 0 12px 12px 12px rgba(0, 0, 0, 0.5);
      margin-bottom: 50px;
      width: 90%;
    }

    .movie__title__subdata {
      width: 90%;
      display: flex;
      justify-content: space-between;
    }
  }
}
